#calculator {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 40px 60px 60px 60px 60px 60px;
    justify-content: center;
    align-content: center;
}
button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
#display {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    text-align: right;
    font-size: 30px;
    padding-right: 20px;
}
#zero {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    width: 110px;
    border-radius: 50px 50px 50px 50px
}
